{% extends 'basic.html'%}
{% block title %}Checkout{% endblock %}
{% block body %}
<div class="container my-4">

        <div class="col my-4">
            <h2>Step 1 - Order Details</h2>
            <ul class="list-group" id="items">
                <li class="list-group-item d-flex justify-content-between align-items-start bg-info">Product Name
                    <span class="badge bg-primary rounded-pill">Price</span>
                <span class="badge bg-primary rounded-pill">Quantity</span>
                </li>
            </ul>
            <ol class="breadcrumb my-2 bg-light">
                <li class="breadcrumb-item active " aria-current="page" > Totol price of products <b> ₹.<span id="total">Totol price of products
                </span>
                </li>
            </ol>
        </div>

        <h2>Step 2 - Fill your Address Details</h2>

    <div class="col my-4">
        <form method="post" action="http://127.0.0.1:8000/Checkout/">{% csrf_token %}
            <input type="hidden" name="itemjson" id="itemjson">
            <div class="row">
                <div class="col-md-6">
                    <label for="name" class="form-label">Name</label>
                    <input type="Name" class="form-control" id="name" name='name' placeholder="Enter your name">
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name='email' placeholder="abcd@email.com">
                </div>
            </div>
            <div class="col-md-6">
                <label for="name" class="form-label">Phone</label>
                <input type="tel" class="form-control" id="phone" name='phone' placeholder="Enter your Phone Number">
              </div>

              <div class="col-12">
                <label for="name" class="form-label">Address line 1</label>
                <input type="text" class="form-control" id="address-1" name='address-1'placeholder="Address Details">
              </div>
              <div class="col-12">
                <label for="name" class="form-label">Address line 2</label>
                <input type="text" class="form-control" id="address-2" name='adress-2' placeholder="Apartment, studio, or floor">
              </div>
            <div class="row">
              <div class="col-md-6">
                <label for="name" class="form-label">City</label>
                <input type="text" class="form-control" id="city" name='city' placeholder="City Name">
              </div>
              <div class="col-md-4">
                <label for="name" class="form-label" >State</label>
                <select id="state" class="form-select"name='state'>
                  <option selected>Choose...</option>
                  <option>Andhra Pradesh</option>
                    <option>Andhra Pradesh</option>
                    <option>Arunachal Pradesh</option>
                    <option>Assam</option>
                    <option>Bihar</option>
                    <option>Chhattisgarh</option>
                </select>
              </div>
              <div class="col-md-2">
                <label for="name" class="form-label">Zip</label>
                <input type="tel" class="form-control" id="zipcode" name='zipcode' placeholder="123456">
              </div>
              <div class="col my-4">
                <button type="submit" id="sub" onclick="myFunction()" class="btn btn-primary">Place order</button>
              </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    if(localStorage.getItem('cart')==null){
       var cart={}
       }
    else{
        cart=JSON.parse(localStorage.getItem('cart'))
       }
    var sum=0
    var totalprice=0
    if($.isEmptyObject(cart)){
        st="<p>You are not parchase any item Please parchase items</p>"
        $("#items").append(st)
    }

    else {
    for(var item in cart){
        sum=sum+cart[item][0]
        let Qnt=cart[item][0]
        let name=cart[item][1]
        let totalitem=cart[item][2]

        totalprice = totalprice+ (totalitem.slice(1,) * Qnt)
        console.log(totalitem.slice(1,),"h",typeof Qnt)
        prodstr = `<li class="list-group-item d-flex justify-content-between align-items-start">${name}
        <span class="list-group">${totalitem}</span>
        <span class="badge bg-primary rounded-pill">${Qnt}</span></li>`
       $('#items').append(prodstr)
    }
    }
    document.getElementById("cart").innerHTML=sum
    document.getElementById("total").innerHTML=totalprice
    $('#itemjson').val(JSON.stringify(cart))
    function myFunction() {
        alert('Thanks for ordering with us. Your order is is {{id}}. Use it to track your order using our order tracker');
        localStorage.clear();
        }
</script>
{% endblock %}